Package: com.nito.settingsloader
Name: settingsLoader
Depends: mobilesubstrate
Version: 0.0.1
Architecture: appletvos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
